body {
  background-color: #05518a;
}

h1 {
  text-align: center;
  color: #dc0707;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 30%;
  height: 30%;
  margin: 2%;
  padding: 2%;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f9f9f9;
  color: #444444;
}

.box a {
  color: #2e8b57;
}

.box .logo {
  background-color: #fff;
  position: absolute; /* Add position absolute to the .logo element */
  top: 50%; /* Set the top of the logo element to 50% of the parent element */
  left: 50%; /* Set the left of the logo element to 50% of the parent element */
  transform: translate(-50%, -50%); /* Center the logo element */
  max-width: 80%; /* Set the max-width of the logo element to be 80% of the parent element */
  max-height: 80%; /* Set the max-height of the logo element to be 80% of the parent element */
  
}

